body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .converter-wrapper {
    width: 75vw;
    margin: 0 auto;
  }

  .form-wrapper {
    & form {
      display: flex;
      gap: 10px;
      justify-content: space-around;
    }

    & span {
      font-size: 26px;
      margin: 0 4px;
    }
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
